Repository concertypin/ArisuTalk, pull requests merged in 2025-09, with the labels that each got.

#42 feat: SNS 메모리 시스템 & NAI 스티커 생성 시스템 구현
  .gitignore
  frontend/package-lock.json
  frontend/package.json
  frontend/src/api/gemini.js
  frontend/src/api/novelai.js
  frontend/src/components/CharacterListPage.js
  frontend/src/components/CharacterModal.js
  frontend/src/components/DesktopSettingsUI.js
  frontend/src/components/ImageResultModal.js
  frontend/src/components/ImageZoomModal.js
  frontend/src/components/MainChat.js
  frontend/src/components/MobileSettingsUI.js
  frontend/src/components/PromptModal.js
  frontend/src/components/SNSCharacterList.js
  frontend/src/components/SNSFeed.js
  frontend/src/components/SNSPostModal.js
  frontend/src/components/SettingsRouter.js
  frontend/src/components/StickerProgressModal.js
  frontend/src/components/settings/panels/CharacterDefaultsPanel.js
  frontend/src/components/settings/panels/NAISettingsPanel.js
  frontend/src/handlers/mainChatHandlers.js
  frontend/src/handlers/modalHandlers.js
  frontend/src/handlers/naiHandlers.js
  frontend/src/handlers/snsHandlers.js
  frontend/src/index.js
  frontend/src/language/en.ts
  frontend/src/language/ko.ts
  frontend/src/language/language.d.ts
  frontend/src/prompts/builder/promptBuilder.js
  frontend/src/prompts/chatMLPrompts.ts
  frontend/src/prompts/promptManager.ts
  frontend/src/services/stickerManager.js
  frontend/src/storage.js
  frontend/src/texts/groupChatMLPrompt.txt
  frontend/src/texts/mainChatMLPrompt.txt
  frontend/src/texts/naiStickerPrompt.txt
  frontend/src/texts/openChatMLPrompt.txt
  frontend/src/texts/snsForcePrompt.txt
  frontend/src/ui.js
  frontend/vite.config.ts
  pnpm-lock.yaml
Labels: t:enhancement, c:frontend, t:new feature

#47 fix: Add missing language literals and update translations
  frontend/src/index.js
  frontend/src/language/en.ts
  frontend/src/language/ko.ts
  frontend/src/language/language.d.ts
Labels: t:bug, c:frontend

#53 fix(frontend): Resolve tooltip positioning in prompt modal
  frontend/src/components/PromptModal.js
Labels: t:bug, c:frontend

#58 feat(frontend): Add debug utility and dev tools
  .gitignore
  frontend/index.html
  frontend/src/dev-init.ts
  frontend/src/utils/debug-utils.ts
  frontend/src/utils/dev-tools.ts
  frontend/tsconfig.json
  frontend/vite-env.d.ts
  frontend/vite.config.ts
Labels: c:frontend, t:new feature
